@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Rampart+One&display=swap');
*{
    text-align: center;
    font-family: 'Henny Penny', cursive;
font-family: 'Rampart One', cursive;
}


header{
    border-radius: 20px;
    border: 1px solid black;
    background-color: #ffffff;
    width: 60%;
    margin: 0 auto;
}
form{
    border-radius: 20px;
    border: 1px solid black;
    background-color: #000000;
    color: #ffffff;
    width: 60%;
    margin: 0 auto;
    
    
    
}
#container{
    width: 100%;
}

input{
    margin: 5%;
    width: 80%;
    border-radius: 5px;
    background-color: cornsilk;
    
}
label{
    display: block;
}
.check-box {
    margin: 0%;
    width: 80%;
    border-radius: 5px;
    background-color: cornsilk;

}
input:hover{
    box-shadow: 0px 0px 50px rgba(23, 121, 248, 0.726);
}
select{
    border-radius: 5px;

}
textarea{
    width: 90%;
    border-radius: 5px;
}
#blue{
    background-color: blue;
    color:#ffffff;
}
#green{
    background-color: green;
    color:#ffffff;

}
#grey{
    background-color: grey;

}
#yellow{
    background-color: yellow;
    color: #000000;
}
#black{
    background-color: #000000;
    color: #ffffff;
}
#violet{
    background-color: violet;
}
button:hover{
    background-color: rgb(248, 37, 0);
    color: black;
}